.top {
  height: 500px;
  width: 100%;
  padding-top: 8%;
  background-color: #d18605;
  background-image: url(../images/brushed-alum.png);
  z-index: auto;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  color: white;
}