.top {
  height: 500px;
  width: 100%;
  padding-top: 10%;
  background-color: #d18605;
  background-image: url(../images/brushed-alum.png);
}
  
.top > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5em;
  color: white;
}

