header {
  height: 400px;
  width: 100%;
  background-color: #eb9707;
  background-image: url(../images/brushed-alum.png);
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}