/*
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * https://css-tricks.com/international-box-sizing-awareness-day/

 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  width: 100%;
  font-family: 'Source Sans Pro', 'Sans-serif'

}
.container {
  display: flex;
  position: relative;
  max-width: 90%;
  flex-direction: column;
  justify-content: center;
  margin: 2% 5%;
}

/*modification for mobile*/
@media only screen and (min-width: 430px) and (max-width: 700px) {
  body {
    font-size: 150%;
  }
  nav {
    position: fixed;
  }
  .top > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
  }
  .write > button {
    background: transparent;
  }

}

/*modification for tablet*/
@media only screen and (min-width: 700px) and (max-width: 1023px) {
  body {
    font-size: 150%;
  }
  nav {
    background: transparent;
    position: absolute;
  }
  .write > button {
    background: transparent;
  }
  .top > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20em;
  }

}
/*modification for desktop*/
@media only screen and (min-width: 1024px) {
  .top {
    display: flex;
    height: auto;
    justify-content: center;
    margin: 5%;
  }
  .top > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5em;
  }
  .header-container {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
  }
  .container {
    flex: 1 1 75%;
    width: 75%;
    margin-top: 5%;
  }
}