@keyframes moving {
  0% { transform: translateY(0); }
  100% { transform: translateY(-6px); }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-flow: row wrap;
  height: 120px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: #4056A1;
  color: #FFFFFF;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
nav > span {
  display: flex;
  padding-top: 1em;
  font-family: 'Bungee', 'Sans-serif';
  font-size: xx-large;
}
nav > div {
  display: flex;
  gap: 0.25em; 
  flex-direction: column;
  align-items: center; 
}
.fas {
  color: red;     
}
.write > button {
  border: none;
  animation: moving 1s infinite alternate;
}
