.tweet-body {
  display: grid;
  row-gap: 10px;
  border: 2px solid black;
  padding: 1em;
  font-family: "Source Sans Pro";
  font-weight: 300;
  word-wrap: break-word;
  margin-top: 5%;
  margin-bottom: 5%;
}

article:hover{
  box-shadow: 5px 10px #888888;
}

.tweet-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tweet-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tweet-handle {
  display: flex;
  opacity: 0.8;
  justify-content: space-between;
}

.tweet-text {
  font-weight: bold;
  border-bottom: 2px solid black;
  word-break: break-word;
}

.tweet {
  display: flex;
  justify-content: space-between;
  align-self: center;
  font-size: 80%;
}

.tweet-icon i:hover {
  color: #d49610;
}

.tweet-icon i {  
  color: #4056A1;
}